<div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Enter User Credentials or Sign Up</h5>
                <button type="button" id="close-login-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="login-form form-horizontal">
                    <div class="form-group">
                        <label for="email-login">email:</label>
                        <input type="text" class="form-control" id="email-login" />
                    </div>
                    <div class="form-group">
                        <label for="password-login">password:</label>
                        <input type="password" class="form-control" id="password-login" />
                    </div>
                    <div id="login-modal-alert" class="alert alert-info" role="alert">
                        Log in with your email and password above, or if you don't have an account, please press "Create Account" below.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#signup-modal" data-bs-dismiss="modal" id="create-btn">Create Account</button>
                <button type="button" class="btn btn-primary" id="login-btn">Login</button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/javascript/login.js"></script>