<div class="modal fade" id="signup-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
                <button type="button" id="close-login-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="signup-form">
                    <div>
                        <label for="username-signup">username:</label>
                        <input type="text" id="username-signup" />
                    </div>
                    <div>
                        <label for="email-signup">email:</label>
                        <input type="text" id="email-signup" />
                    </div>
                    <div>
                        <label for="password-signup">password:</label>
                        <input type="password" id="password-signup" />
                    </div>
                    <div>
                        <label for="birthdate-signup">birthdate:</label>
                        <input type="date" id="birthdate-signup" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="signup-btn">Signup</button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/javascript/login.js"></script>