<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gift Pilot</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="wrapper">
        <header>
            <h1>
                <a class="display-2 btn-no-style" href="/">Gift Pilot</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a class="btn-no-style display-6 text-secondary" href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style display-6 text-secondary">Logout</button>
                {{else}}
                <a class="btn-no-style display-6 text-secondary" data-bs-toggle="modal" data-bs-target="#login-modal" href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Gift Pilot -- Making gifting slightly less miserable
        </footer>
    </div>
    
    {{#if loggedIn}}
    {{else}}
    {{>loginModal}}
    {{>signupModal}}
    {{/if}}

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>