<section class="row">

    <div class="col-10" id="user-dasboard-col">
    <button id="new-gift-btn" data-bs-toggle="modal" class="btn btn-primary" data-bs-target="#gift-modal">
        Create New Gift
    </button>

        {{#if gifts.length}}
            <section>
                <h2>Your List</h2>
        
                <div class="row d-flex" id="gifts-container">
    
                        {{#each gifts as |gift|}}
                        <div class="col-2">
                            {{> gift-info gift}}
                        </div>
                        {{/each}}
               
                </div>
       
            </section>
    
            <script src="/javascript/delete-gift.js"></script>
        {{/if}}
    </div>

    <div class="col-2" id="friendlist">
        Friendslist will go here
    </div>
</section>

{{> add-gift-modal}}
{{> add-friend-modal}}
