<section class="row">

    <div class="col-10" id="user-dasboard-col">
        <button id="new-gift-btn" data-bs-toggle="modal" class="btn btn-primary" data-bs-target="#gift-modal">
            Create New Gift
        </button>

        {{#if gifts.length}}
            <section>
                <h2>Your List</h2>
        
                <div class="row d-flex" id="gifts-container">
    
                        {{#each gifts as |gift|}}
                        <div class="col-12 col-md-6 col-lg-4">
                            {{> gift-info gift}}
                        </div>
                        {{/each}}
               
                </div>
       
            </section>
    
            <script src="/javascript/delete-gift.js"></script>
        {{/if}}
    </div>

    <div class="col-2" id="friendlist">
        <button id="friend-btn" data-bs-toggle="modal" class="btn btn-primary" data-bs-target="#friend-modal">
            Add 
        </button>

        {{#if friends.length}}
        <section>
            <h2>Your Friends</h2>
            <div class="row d-flex" id="friends-container">
                    <div class="list">
                        <ul class="list-group">
                    {{#each friends as |friend|}}
                        {{> friend-info friend}}
                    {{/each}}
                 </ul>
                    </div>
            </div>
        </section>
        {{/if}}
    </div>
</section>

{{> add-gift-modal}}
{{> add-friend-modal}}
