<p class="font-scp" id="site-desc">
    We wanted to take away the stress of getting someone a gift and hoping it wouldn't be a duplicate. With Gift Pilot, everyone else can see who's planning to get you what, but for you, it stays a surprise! Get started by making an account, adding to your wishlist, and adding your friends.
</p>
