<p id="site-desc">
    Gift Pilot was created with gift giving in mind. With so many gifts being handed out each year, our team
    worked hard to make easily creating a gift list possible. With just a few pieces of information, a user can
    create a list with URLs dedicated to their items that take would be gift givers right to where they can be bought.
</p>