* {
    padding: 0;
    scroll-behavior: smooth;
}

.site-info {
    position: absolute;
    top: 35vh;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 40px 250px;
}

.site-info h1 a {
    text-decoration: none;
    color: black;
}

#login-modal-alert {
    margin-top: 20px;
}

footer {
    position: absolute;
    top: 97vh;
    width: 100%;
    text-align: center;
}

a {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}